/*
╭───────────────────────────────────╮
│                                   │
│              Navbar               │
│                                   │
╰───────────────────────────────────╯
*/

.navbar {
    background: var(--base-200);
    padding: 1rem 0 !important;
    margin: 0.5rem;
    border-radius: 10px;
    border: 4px solid var(--base-300);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler,
.navbar-toggler-icon:focus {
    box-shadow: none !important;
    outline: none !important;
    border: 0 !important;
    transition: .3s !important;
}


.navbar-brand {
    font-family: 'Cubano';
}

#navbarNav>ul>li:nth-child(n)>a {
    color: rgb(235, 235, 235);
    margin: 0 0.5rem;
    text-transform: capitalize;
}

/* 
#navbarNav>ul>li:nth-child(n)>a:hover {
    color: var(--primary);
} */

#navbarNav>ul>li:nth-child(n)>a.active {
    color: rgba(197, 197, 197, 0.732);
}

/*
╭───────────────────────────────────╮
│                                   │
│                Hero               │
│                                   │
╰───────────────────────────────────╯
*/

.hero {
    margin-top: 9rem;
}

.hero h1 {
    color: white;
}


.hero .subtitle {
    font-family: 'Cubano';
}

.hero .subtitle span {
    font-family: 'Cubano';
	background: linear-gradient(to right, #7830d0 0%, #b9207b 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero .description {
    color: #5b656a;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.hero .description img {
    height: 20px;
    width: 20px;
    rotate: 180deg;
}

.hero .btn {
    background: var(--primary);
    padding: 0.5rem;
    border-radius: 40px;
    border-radius: 0;
    box-shadow: 0 10px 0 #181d27;
    border: 4px solid #232833;
    transition: .3s;
}

.hero .btn:hover {
    background: var(--primary) !important;
    border: none !important;
    padding: 0.5rem;
    box-shadow: 0 7px 0 #181d27 !important;
    border: 4px solid #232833 !important;
    transform: translateY(5px) !important;
}

.hero .banner {
    background: url('https://cdn.abyditya.space/r/BannerCode.png') !important;
    background-position: center center !important;
    margin: 0 .9rem !important;
    background-size: cover !important;
    position: relative !important;
    border-radius: 15px !important;
    min-height: 320px !important;
    padding-top: 60px !important;
    height: auto !important;
}

/*
╭───────────────────────────────────╮
│                                   │
│               About               │
│                                   │
╰───────────────────────────────────╯
*/

.about {
    margin-top: 4.47rem;
    background: rgb(19, 19, 19);
    background: linear-gradient(180deg, rgba(19, 19, 19, 1) 0%, #000000 66%);
    min-height: 28rem;
}

.about .badge {
    background: var(--base-300) !important;
    padding: 0.5rem 0.4rem;
    margin: 0.1rem 0.2rem;
    font-weight: 100;
}

#__next>section.about>div>div:nth-child(1)>span:nth-child(1),
#__next>section.about>div>div:nth-child(1)>span:nth-child(2) {
    background: #daa520 !important;
    color: #614c17 !important;
}

#__next>section.about>div>div:nth-child(1)>span:nth-child(1)>span,
#__next>section.about>div>div:nth-child(1)>span:nth-child(2)>span {
    background-color: #ffd700;
}

.about .icon {
    background: var(--primary);
    padding: 0.1rem 0.25rem;
    border-radius: 50%;
    margin: 0 0.2rem 0 0;
}

.about h2 {
    margin: 3rem 0 0 0;
    font-family: 'abril fatface';
    /* color: rgb(145, 165, 176); */
    color: #ffd700;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.about h2 span {
    color: #515151;
    font-family: 'Roboto Mono';
    font-size: small;
    display: block;
    letter-spacing: -1px;
}

.about .content {
    color: rgb(172, 172, 172);
    font-size: 20px !important;

}

/*
╭───────────────────────────────────╮
│                                   │
│            projects               │
│                                   │
╰───────────────────────────────────╯
*/

.projects {
    min-height: 28rem;
}

.projects h2 {
    margin: 3rem 0 0 0;
    font-family: 'abril fatface';
    /* color: rgb(145, 165, 176); */
    color: #ffd700;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.projects h2 span {
    color: #515151;
    font-family: 'Roboto Mono';
    font-size: small;
    display: block;
    letter-spacing: -1px;
}

.projects .card {
    background: var(--base-200);
    border: 4px solid var(--base-300);
    cursor: pointer;
}

.projects .card span {
    padding: 0.3rem;
}

.projects .card span img {
    border-radius: 10px;
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

#__next>section.projects>div>div.row.row-cols-1.row-cols-md-2.g-4>div>div>span>img {
    width: 515px;
    height: 280px;
}

.projects .card .card-title span {
    color: black;
    font-family: 'Cubano';
    background: white;
}

.projects .card .badg {
    background: black !important;
    font-family: 'sofia' !important;
    color: rgb(230, 230, 230) !important;
    font-size: 20px;
    padding: 5px 8px;
    margin: 0 0.2rem;
}

.projects .soon {
    background: black !important;
}

#__next>section.projects>div>div.row.row-cols-1.row-cols-md-2.g-4>div:nth-child(2)>div>div>h5>span:nth-child(2) {
    background-color: black;
    color: white;
}

.projects .card .card-text {
    color: rgb(189, 189, 189);
    font-family: 'sofia';
}

/*
╭───────────────────────────────────╮
│                                   │
│              Footer               │
│                                   │
╰───────────────────────────────────╯
*/
footer {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

footer p.title {
    color: #b2becd;
}

footer p.title a {
    color: #759224;
    text-decoration: none;
}

footer p.title a:hover {
    color: #759224;
    opacity: 80%;
    text-decoration: none;
}

/*
╭───────────────────────────────────╮
│                                   │
│             contact               │
│                                   │
╰───────────────────────────────────╯
*/

.contact {
    min-height: 28rem;
    margin-top: 10rem;
}

.contact .title {
    color: var(--primary);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.contact .subtitle {
    font-style: normal;
    font-family: 'Cubano';
    font-size: 65px;
    line-height: 83px;
    color: white;
}

.contact .description {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 31px;
    color: #5b656a;
    margin: 1.5rem 0;
}

.contact ul li {
    color: white;
    list-style-type: none;
    margin-left: -2rem !important;
}

.contact ul li i {
    margin: 0 0.5rem 0 0;
}

.contact ul li:nth-child(2) i {
    margin: 0 .7rem 0 0;
}

/*
╭───────────────────────────────────╮
│                                   │
│                Form               │
│                                   │
╰───────────────────────────────────╯
*/

.form-label {
    color: rgb(236, 236, 236);
    font-size: 28px;
    font-weight: 300;
}

.form-control {
    font-size: 28px !important;
    background: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    border: 0 !important;
    color: white !important;
}

.label-number {
    color: #666666;
    font-size: 20px;
    font-weight: 500;
    margin-right: 1rem;
}

.btn-submt {
    background-color: #759224 !important;
    box-shadow: none !important;
    outline: none !important;
    border: 0 !important;
    padding: 1rem 5rem !important;
    font-size: 30px !important;
}

body>main>div.container.py-5>section>section>div>div>div:nth-child(2)>form>div:nth-child(n)>hr {
    border-bottom: 3px solid #3f3f3f !important;
}

@media only screen and (min-width: 992px) {
    .form-control {
        margin-left: 2.3rem !important;
    }
}

hr.form-hr {
    border-top: #3f3f3f solid 3px;
}

/*
╭───────────────────────────────────╮
│                                   │
│                blog               │
│                                   │
╰───────────────────────────────────╯
*/

.blog {
    margin-top: 3.5rem;
}

.blog .card {
    background: var(--base-200);
    border: 5px solid var(--base-300);
    text-decoration: none;
}

.blog .card div.img-wrap {
    margin: 0.5rem;
}

.blog .card div.img-wrap img {
    border-radius: 5px;
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

.blog .card .card-title {
    color: white;
    font-family: 'Cubano';
}

.blog .card .card-text {
    color: rgb(200, 200, 200);
}

.blog .card-footer {
    border: none;
    text-align: right;
    padding: 0.3rem 0;
}

/*
╭───────────────────────────────────╮
│                                   │
│            media query            │
│                                   │
╰───────────────────────────────────╯
*/

@media only screen and (max-width: 600px) {
    .hero .banner {
        display: none;
    }


    .about .content {
        font-size: 15px !important;
    }

    .about {
        min-height: 26.7rem !important;
    }

    /*
        ╭───────────────────────────────────╮
        │                                   │
        │        Contact Information        │
        │                                   │
        ╰───────────────────────────────────╯
*/

    .contact .subtitle {
        font-size: 50px;
        line-height: 50px;
    }

    .form-label {
        font-size: 24px;
    }

    .form-control {
        font-size: 20px !important;
    }

    .btn-submt {
        font-size: 20px !important;
    }
}